body {
	margin: 0px;
}

#canvas {
	background-color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}

#chat_wrapper {
	background-color: blue;
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

#send_message_wrapper {
	width: 95%;
	height: 15%;
	padding: 1%;
	position:absolute;
	bottom: 0px;
	right: 0px;
}

#message_box {
	height: 75%;
	width: 98%;
}